h1, h2 {
    margin: 0;
    padding: 0;
    font-family: cursive;
    font-weight: normal;
    color: blue;
}
h1 {
    font-size: 50px;

}
h2 {
    font-size: 30px;
}
.spacer.v20 {
    height: 20px;

}
.spacer.v40 {
    height: 40px;
}
.spacer.v80 {
    height: 80px;
}
p {
    color:black;
}
.clear {
    clear: both;
}

body {
    padding: 0;
    margin: 0;
    background-color:white;
    font-family: "open Sans",sans-serif;
    font-size: 15px;
}
#promo,
#subscribe,
#footer {
    text-align: center;
    color: thistle;
    min-width: 1000px;
}
#topMenu {
    height: 60px;
}
#topLinks {
    float: right;
    padding: 20px;
}
#topLinks ul,
#footer ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#topLinks li {
    float: left;
}
#topLinks li a {
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    #topMenu .logo {
        float: left;
        padding: 13px;
        font-size: 24px;
                
    }
    #banner {
       width: 100%;
       text-align: center;
       padding-top: 300px;
    }
    .feature .leftColumn {
        width: 50%;
        float: left;
        text-align: center;
    }
    .feature .rightColumn {
       margin-left: 50%;
       width: 50%;
       text-align: center; 
    }

}